@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #FDFBF8;
  color: #38332E;
}

/* Smooth scrolling and selection styling */
html {
  scroll-behavior: smooth;
}

::selection {
  background: #0E7490; /* cyan-800 */
  color: white;
}
