@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #FDFBF8;
  color: #38332E;
}

/* Smooth scrolling and selection styling */
html {
  scroll-behavior: smooth;
}

::selection {
  background: #0E7490; /* cyan-800 */
  color: white;
}

.parallax-hero {
  position: relative;
  background-image: url('/assets/img/SLP.jpg'); /* Ensure you have an image at this path */
  min-height: 40vh;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.font-analog-serif {
  font-family: "Georgia", "Times New Roman", Times, serif;
}

.font-analog-mono {
  font-family: "Courier New", Courier, monospace;
}

.analog-highlighter {
  transition: background-size 0.2s ease-in-out;
  background-image: linear-gradient(120deg, #FDE047 0%, #FDE047 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0 0;
}

.group:hover .analog-highlighter {
  background-size: 100% 100%;
}
