---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout 
  title="Manuel Valle Torre - Learning Analytics"
  description="PhD Student in Learning Analytics at TU Delft"
>
  <Header />
  
  <main class="space-y-8">
    <div class="space-y-4">
      <p class="text-xl text-gray-600 dark:text-gray-400">
        Hi I'm Manuel, I'm doing a PhD in Learning Analytics at TU Delft
      </p>
    </div>

    <div class="prose prose-lg dark:prose-invert max-w-none">
      <p>
        You can check my <a href="/assets/MVT_CV.pdf" class="text-blue-600 dark:text-blue-400 hover:underline">CV</a> for the formal stuff.
      </p>

      <p>
        I've always been interested in the newest technologies and their application, that's why I did my Bachelor's in Business Informatics, 
        which focused on the use of technology and information systems for organizations and business. Later I decided I needed a stronger 
        technical base which lead to studying a Computer Science Master at TU Delft.
      </p>

      <p>
        My work interest is in the world of Data <em>Engineering, Analytics and Science</em> and how it impacts the (human) learning 
        processes through Analytics and Feedback.
      </p>

      <p>
        I had the privilege of working at the Web Information Systems 
        (<a href="https://www.tudelft.nl/en/eemcs/the-faculty/departments/software-technology/web-information-systems" class="text-blue-600 dark:text-blue-400 hover:underline">WIS</a>) 
        group as a Research Engineer for a couple of years, where I discovered my interest in Learning Analytics.
        Now I continue as a PhD in the Centre for Education and Learning 
        (<a href="https://www.educationandlearning.nl/home" class="text-blue-600 dark:text-blue-400 hover:underline">CEL</a>), 
        everyday learning about learning, and how we can use data and analytics to support this process.
      </p>

      <p>
        I enjoy music, travelling, cooking, cycling, beer and mezcal - especially when combined and shared.
        Always ready for a challenge and eager to learn new things, nowadays this is Cognitive Psychology, yoga and making my own 
        <a href="/sauces" class="text-blue-600 dark:text-blue-400 hover:underline">hot sauces</a>.
      </p>
    </div>
  </main>
</Layout>